:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-text: #fff;
  --color-link: #59f5fa;
  --color-link-hover: #01a9af;
	--color-primary: #5aafff;
	--color-secondary: #00a699;
	--color-error: #ff5a5f;
	--color-success: #00a699;
	--color-warning: #f5a623;
	--color-info: #59f5fa;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --color-text: #213547;
    --color-link: rgb(102, 12, 95);
    --color-link-hover: #076e70;
		--color-primary: #5aafff;
		--color-secondary: #00a699;
		--color-error: #ff5a5f;
		--color-success: #00a699;
		--color-warning: #f5a623;
		--color-info: #59f5fa;
  }
}
